/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*==================== VARIABLES CSS ====================*/
:root {
  --header-height: 4.8rem;

  /*========== Colors ==========*/

  --title-color: rgb(248, 248, 248);
  --text-color: rgb(180, 207, 209);
  --input-color: rgb(3, 45, 51);
  --body-color: linear-gradient(90deg, rgb(10, 28, 59) 10%, rgb(1 13 31) 50%);
  --container-color: rgb(1 13 31);
  --scroll-bar-color: rgb(1 13 31);
  --scroll-thumb-color: rgb(19, 216, 223);
  --scroll-thumb-color-hover: rgb(58, 206, 161);

  --first-color: rgb(19, 216, 223);
  --first-color-alt: rgb(11, 245, 214);
  --background-color: linear-gradient(
    120deg,
    rgb(19, 216, 223),
    rgb(58, 206, 161) 50%,
    rgb(11, 245, 214) 70%
  );

  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 5rem;
  --big-font-size: 3.2rem;
  --h1-font-size: 2.4rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.8rem;
  --normal-font-size: 1.5rem;
  --small-font-size: 1.4rem;
  --smaller-font-size: 1.3rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/

  --mb-0-25: 0.4rem;
  --mb-0-5: 0.8rem;
  --mb-0-75: 1.2rem;
  --mb-1: 1.6rem;
  --mb-1-5: 2rem;
  --mb-2: 3.2rem;
  --mb-2-5: 3.8rem;
  --mb-3: 4.8rem;
  --mb-4: 7rem;
  --mb-5: 9rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 4.8rem;
    --h1-font-size: 3.6rem;
    --h2-font-size: 2.4rem;
    --h3-font-size: 2rem;
    --normal-font-size: 1.6rem;
    --small-font-size: 1.4rem;
    --smaller-font-size: 1.3rem;
  }
}

/*========== Button Dark/Light ==========*/
.nav__btns {
  display: flex;
  align-items: center;
}
.change-theme {
  font-size: 2rem;
  color: var(--title-color);
  margin-right: 1.6rem;
  cursor: pointer;
}
.change-theme:hover {
  color: var(--first-color);
}

/*==================== spinner + Animation ====================*/

.spinner__container {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 1000;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner__on {
  border: 2px solid var(--first-color);
  border-radius: 50%;
  border-top: 10px solid var(--first-color);
  width: 10rem;
  height: 10rem;
  -webkit-animation: spin 1.5s linear infinite; /* Safari */
  animation: spin 1.5s linear infinite;
}
.spinner__off {
  visibility: hidden;
  display: none;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background: rgb(1 13 31);
  background-image: var(--body-color);
  color: var(--text-color);
}
.background {
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-image: var(--body-color);
}
/*==================== REUSABLE CSS CLASSES ====================*/
.section {
  padding: 5rem 0 3rem;
}

.section__title {
  font-size: var(--h1-font-size);
  background: var(--background-color);
  background-repeat: no-repeat;
  background-size: 70% 5px;
  background-position: 50% 100%;
  border-radius: 5px;
  max-width: fit-content;
  margin: 0 auto;
  text-transform: uppercase;
}
.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin: var(--mb-0-25) 0 var(--mb-1) 0;
  text-transform: capitalize;
}
.section__title,
.section__subtitle {
  text-align: center;
}

/*==================== BUTTONS ====================*/
.button {
  display: inline-block;
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  padding: 1rem;
  text-transform: uppercase;
  background-image: linear-gradient(
    120deg,
    rgb(29, 181, 236) 5%,
    rgb(58, 231, 179) 85%
  );
  background-repeat: no-repeat;
  background-size: 100% 0.5rem;
  background-position: 0px 100%;
  border-radius: 20px;
  transition: 0.2s;
  outline: transparent solid 2px;
  outline-offset: 2px;
}
.button:hover,
.button:focus {
  color: #000;
  transform: scale(1.2);
  background-size: 100% 100%;
  background-position: 0px 100%;
}

.show-more__button {
  color: #fff;
  text-transform: uppercase;
  padding: 1rem;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: inset rgb(68 255 229 / 25%) 0 0 0px 2px,
    inset rgb(0 255 178 / 10%) 0 0 0px 2px, rgb(0 0 0 / 50%) 1px 4px 5px 2px;
  transition: 0.2s;
}
.show-more__button:hover {
  transform: scale(1.1);
  box-shadow: inset rgb(68 255 230) 0px 0px 0px 2px,
    inset rgb(0 255 179) 0 0 0px 2px;
}

.button__icon {
  font-size: 2rem;
  margin-left: var(--mb-0-5);
  transition: 0.3s;
}
.button--white {
  background-color: #fff;
  color: var(--first-color);
}
.button--white:hover {
  background-color: #fff;
}
.button--flex {
  display: inline-flex;
  align-items: center;
}
.button--small {
  padding: 1.2rem 1.6rem;
}
.button--link {
  padding: 0;
  background-color: transparent;
  color: var(--first-color);
}
.button--link:hover {
  background-color: transparent;
  color: var(--first-color-alt);
}
.section__icon {
  margin-right: var(--mb-0-75);
  color: var(--first-color-alt);
}

/*==================== LAYOUT ====================*/
.container {
  max-width: 768px;
  margin: auto var(--mb-1-5);
}
.grid {
  display: grid;
  gap: 1.5rem;
}
/*==================== NAV ====================*/
.nav {
  max-width: 968px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo,
.nav__toggle {
  color: var(--title-color);
  font-weight: var(--font-medium);
}
.nav__logo:hover,
.nav__toggle:hover {
  color: var(--first-color);
}
.nav__toggle {
  font-size: 1.7rem;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-image: var(--body-color);
    padding: 3.2rem 2.4rem 6.4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 2.4rem 2.4rem 0 0;
    transition: 0.3s;
  }
}

.nav__list {
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
}
.nav__link {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
}
.nav__link:hover {
  color: var(--first-color);
}
.nav__icon {
  font-size: 2rem;
}
.nav__close {
  position: absolute;
  right: 1.7rem;
  bottom: 0.5rem;
  font-size: 2.4rem;
  cursor: pointer;
  color: var(--first-color);
}
.nav__close:hover {
  color: var(--first-color-alt);
}
.hide-nav {
  /* transform: translateY(calc(-1 * var(--header-height))); */
  transform: translateY(-80px);
}
/* show menu */
.show-menu {
  bottom: 0;
}
/* Active link */
.active-link {
  color: var(--first-color);
}
/* Change background header */
.scroll-header {
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}
/*==================== HOME
====================*/
.home {
  background-image: url("../img/colored-patterns.svg");
  background-position: right top;
  background-repeat: no-repeat;
}

.home__container {
  gap: 1.6rem;
}

.home__content {
  grid-template-columns: 0.5fr 3fr;
  padding-top: 5.6rem;
  align-items: center;
}
.home__social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1.6rem;
}

.home__social-icon {
  font-size: 2rem;
  color: var(--first-color);
}
.home__social-icon:hover {
  color: var(--first-color-alt);
}
.home__img__container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 30rem;
  position: relative;
}
.home__img__container-dots {
  position: absolute;
  max-width: 30rem;
  bottom: -40px;
  left: -100px;
}
.home__img__container-img {
  position: absolute;
  max-width: 30rem;
  border-radius: 10px;
  z-index: var(--z-tooltip);
  box-shadow: rgb(68 141 255) -5px 5px 0px, rgb(0 255 178) -10px 10px 0px,
    rgb(3 249 182 / 30%) -13px 15px 20px 1px;

  transition: 0.2s;
}
.home__img__container-img:hover {
  box-shadow: rgb(68 141 255) -7px 7px 0px, rgb(0 255 178) -12px 12px 0px;
}

.home__data {
  grid-column: 1/3;
}
.home__title {
  font-size: 8rem;
  background: -webkit-linear-gradient(
    180deg,
    rgba(27, 217, 232, 1) 0%,
    rgb(29, 181, 236) 46%,
    rgb(58, 231, 179) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  line-height: 0.8;
  position: relative;
  margin-bottom: var(--mb-0-5);
  text-shadow: rgb(0 0 0 / 14%) 4px 6px 8px, rgb(0 0 0 / 0%) 0px 0px 0px;
}
.home__title-first {
  background: -webkit-linear-gradient(
    0deg,
    rgba(27, 217, 232, 1) 0%,
    rgb(29, 181, 236) 46%,
    rgb(58, 231, 179) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  position: absolute;
  bottom: 52px;
  left: 0;
}
.home__subtitle {
  font-size: var(--h3-font-size);
  color: var(--title-color);
  font-family: var(--font-medium);
  margin: var(--mb-1) 0;
  width: fit-content;
  background: var(--background-color);
  background-repeat: no-repeat;
  background-size: 90% 0.3rem;
  background-position: 20px 100%;
  border-radius: 5px;
}
.home__description {
  margin-bottom: var(--mb-2);
}
.home__scroll {
  /* display: none; */
}
.home__scroll-button {
  color: var(--first-color);
  transition: 0.3s;
}
.home__scroll-button:hover {
  transform: translateY(0.4rem);
}
.home__scroll-mouse {
  font-size: 3.2rem;
}
.home__scroll-name {
  font-size: var(--normal-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-right: var(--mb-0-25);
}
.home__scroll-arrow {
  font-size: 2rem;
}

/*================================ Portfolio ==================================================*/
.projects {
  background-image: url("../img/Colored-Patterns1.svg");
  background-repeat: no-repeat;
  background-position: 0 5%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.project__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 1rem 3rem;
}

/*==================== Portfolio big project ====================*/

.project__content:nth-child(1) {
  max-width: none;
  width: 80vw;
  padding: 4rem;
  margin: 2rem 2rem 5rem;
  height: auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: none;
  /* background: none; */
}

.project__content:nth-child(1) .project__img {
  align-self: center;
  width: 55rem;
  max-width: 100%;
  margin-right: 8rem;
  box-shadow: none;
  margin-bottom: 0;
}

.project__content:nth-child(1) .project__img,
.project__content:nth-child(1) .project__data {
  transform: translateY(0);
}

.project__content:hover .project__img {
  box-shadow: rgb(68 141 255) 0px 0px 0px 1px, rgb(0 255 178) 0 0px 0px 2px,
    rgb(3 249 182 / 30%) 0 0 16px 0px;
  transition: 0.2s;
}

.project__content {
  display: flex;
  flex-flow: column nowrap;
  max-width: 55rem;
  height: 48rem;
  padding: 3rem;
  margin: 12rem 5rem;
  background-image: linear-gradient(
    321deg,
    rgb(1 19 41) 10%,
    rgb(4 4 4 / 20%) 30%,
    rgb(1 17 33) 90%
  );
  border-radius: 30px;
  box-shadow: inset rgb(68 255 229 / 25%) 0 0 0px 2px,
    inset rgb(0 255 178 / 10%) 0 0 0px 2px, rgb(0 0 0 / 50%) 1px 4px 5px 2px;
  transition: 0.2s;
}
.project__content:hover,
.project__content:focus {
  box-shadow: inset rgb(68 255 230) 0px 0px 0px 5px,
    inset rgb(0 255 179) 0 0 0px 5px;
}
.project__img {
  align-self: center;
  width: 40rem;
  border-radius: 5px;
  margin-bottom: var(--mb-1);
  box-shadow: rgba(68, 140, 255, 0.5) 0px 0px 0px 1px,
    rgba(0, 255, 179, 0.5) 0 0px 0px 2px;
}
.project__data,
.project__img {
  transform: translateY(-13rem);
}
.project__data {
  /* width: 50rem; */
}
.project__data h3 {
  margin-bottom: var(--mb-1);
}
.project__title {
  margin-bottom: var(--mb-1);
  background: var(--background-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  position: relative;
}
.project__title::after {
  position: absolute;
  content: "";
  display: block;
  width: 5rem;
  height: 4px;
  left: 0;
  bottom: 0;
  background-image: var(--background-color);
  border-radius: 5px;
}
.project__description {
  margin: 0 0 var(--mb-1) 1.5rem;
  max-height: 12rem;
  /* overflow-y: auto; */
  transition: 0.2s;
  position: relative;
}
.project__description::after {
  position: absolute;
  content: "";
  width: 5px;
  height: 100%;
  left: -1.5rem;
  bottom: 0;
  background: var(--background-color);
  border-radius: 0 5px 5px 0;
}
.project__languages {
  margin-bottom: var(--mb-1);
}
.project__languages img {
  width: 3rem;
  border-radius: 5px;
  margin-right: 1rem;
}
.project__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.project__link {
  font-size: 2rem;
}
.project__button {
  font-size: 2 rem;
  box-shadow: 1px 1px 1px 1px;
}
/*==================== ABOUT ====================*/
.about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about__stats__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin-bottom: var(--mb-5);
  border-radius: 100px;
  background-color: rgba(2, 2, 46, 0.26);
  color: #fff;
  box-shadow: rgb(68 141 255) 0px 0px 4px 2px, rgb(0 255 178) 0px 0px 0px 2px,
    rgb(0 0 0) 0 8px 10px 6px;
}
.about__stats__items {
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 1rem;
  margin: 0 4rem;
  position: relative;
}
.about__stats__items:nth-child(2)::before,
.about__stats__items:nth-child(2)::after {
  position: absolute;
  content: "";
  display: block;
  width: 2px;
  height: 50%;
  background-image: var(--background-color);
  border-radius: 5px;
}
.about__stats__items:nth-child(2)::before {
  left: -30px;
}
.about__stats__items:nth-child(2)::after {
  right: -30px;
}
.about__stats__data {
  display: flex;
  align-items: center;
  flex-flow: column;
}
.about__stats__data span:first-child {
  font-size: 4rem;
  background: -webkit-linear-gradient(
    180deg,
    rgba(27, 217, 232, 1) 0%,
    rgb(29, 181, 236) 46%,
    rgb(58, 231, 179) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}
.about__stats__data span:nth-child(2) {
  color: rgb(0, 236, 224);
}
.about__stats__icon {
  font-size: 4rem;
}

.about__stack__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.about__stack__languages {
  display: flex;
  flex-flow: row wrap;
  width: 50rem;
}
.about__stack__languages img {
  max-width: 5rem;
  margin: 2rem;
}
.about__stack__paragraphs {
  max-width: 60rem;
}
.about__stack__paragraphs p {
  position: relative;
  margin: 0 0 var(--mb-2) 1.5rem;
}
.about__stack__paragraphs p::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 100%;
  left: -1.5rem;
  bottom: 0;
  background: var(--background-color);
  border-radius: 0 5px 5px 0;
}
/*==================== QUALIFICATION ====================*/
.qualification__tabs {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2);
}
.qualification__button {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  cursor: pointer;
}
.qualification__button:hover {
  color: var(--first-color);
}
.qualification__icon {
  font-size: 2.9rem;
  margin-right: var(--mb-0-25);
}
.qualification__data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 2.4rem;
  margin-top: 3rem;
}
.qualification__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}
.qualification__subtitle {
  display: inline-block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
}
.qualification__calendar {
  font-size: var(--smaller-font-size);
  color: var(--text-color-alt);
}
.qualification__rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--first-color);
  border-radius: 50%;
}
.qualification__line {
  display: block;
  width: 4px;
  height: 130%;
  background-color: var(--first-color);
  transform: translate(4.5px, -13px);
}

.qualification [data-content] {
  display: none;
}

.qualification__active[data-content] {
  display: block;
}
.qualification__button.qualification__active {
  color: var(--first-color);
}

/*==================== BLOG ====================*/

.blog {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  /* background-color: #000; */
}

.blog__container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 1250px;
  width: 100%;
  height: 75vh;
  overflow: hidden;
  transform: translateX(-0%);
  /* background-color: rgb(151, 6, 6); */
}

.articles__container {
  position: absolute;
  width: 100vw;
  /* max-height: 36rem; */
  display: flex;
  justify-content: center;
  transition: 0.2s;
  /* background-color: rgb(71, 18, 18); */
}
.article__data {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  margin-right: 5rem;
  max-width: 32rem;
  /* height: 36rem; */
  padding: 1.5rem;
  border-radius: 10px;
  background-image: linear-gradient(
    329deg,
    rgb(7 30 65) 0%,
    rgb(0 0 0 / 0%) 30%
  );
  box-shadow: inset rgb(68 255 229 / 25%) 0 0 0px 2px,
    inset rgb(0 255 178 / 10%) 0 0 0px 2px, rgb(0 0 0 / 50%) 1px 4px 5px 2px;
  transition: 0.2s;
}
.article__data:hover,
.article__data:focus {
  box-shadow: inset rgb(68 255 230) 0px 0px 0px 5px,
    inset rgb(0 255 179) 0 0 0px 5px;
}
.article__data img {
  margin-bottom: var(--mb-0-5);
  border-radius: 5px;
}
.article__data h3 {
  margin-bottom: var(--mb-0-5);
}
.article__data p {
  display: block;
  margin-bottom: var(--mb-0-5);
  font-size: var(--small-font-size);
  word-break: break-all;
  height: 3.9em;
  line-height: 1.3em;
  overflow: hidden;
}
.article__data a {
  display: none;
  width: fit-content;
  height: fit-content;
  position: absolute;
  margin: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
.article__data:hover a {
  display: block;
}
.article__data:hover h3 {
  position: absolute;
  top: 20%;
  align-self: center;
  padding: 1rem;
}
.article__data:hover img,
.article__data:hover p {
  opacity: 0;
}

.blog__btns {
  display: flex;
  flex-flow: row nowrap;
  position: absolute;
  top: 2%;
  right: 2%;
}
.blog__btn {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  font-size: 3.5rem;
  z-index: var(--z-tooltip);
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.2s;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0 0.5rem;
}
.blog__btn:hover {
  color: rgb(255, 255, 255);
  box-shadow: rgb(68 141 255) 0px 0px 0px 1px, rgb(0 255 178) 0 0px 0px 2px,
    rgb(3 249 182 / 30%) 0 0 16px 0px;
}

.blog__dots {
  position: absolute;
  bottom: 4%;
  left: calc(50% - 30px);
  z-index: var(--z-tooltip);
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog__dots-dot {
  border: none;
  background-color: rgb(46, 102, 95);
  opacity: 0.5;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 2rem;
  cursor: pointer;
  transition: all 0.5s;
}
.blog__dots-dot:last-child {
  margin-right: 0;
}

.blog__dots-dot--active {
  background-color: var(--first-color);
  opacity: 1;
}

/*==================== CONTACT ME ====================*/

.contact__information {
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-2);
}
.contact__icon {
  font-size: 3.2rem;
  color: var(--first-color);
  margin-right: var(--mb-0-75);
}

.contact__title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

/*==================== FOOTER ====================*/

.footer {
  padding-top: 3.2rem;
}
.footer__container {
  row-gap: 5.6rem;
}

.footer__bg {
  background-color: var(--first-color-second);
  padding: 3.2rem 0 4.8rem;
}

.footer__title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-0-25);
}

.footer__subtitle {
  font-size: var(--small-font-size);
}

.footer__links {
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;
}
.footer__link:hover {
  color: var(--first-color-lighter);
}

.footer__social {
  font-size: 2rem;
  margin-right: var(--mb-1-5);
}
.footer__social:hover {
  color: var(--first-color-lighter);
}
.footer__copy {
  font-size: var(--smaller-font-size);
  text-align: center;
  color: var(--title-color);
  margin-top: var(--mb-3);
}
.footer__title,
.footer__subtitle,
.footer__link,
.footer__social {
  color: #fff;
}
/*========== SCROLL UP ==========*/
.scrollup {
  position: fixed;
  right: 1.6rem;
  bottom: -20%;
  background-color: var(--first-color);
  opacity: 0.8;
  padding: 0 0.5rem;
  border-radius: 0.6rem;
  z-index: var(--z-tooltip);
  transition: 0.4s;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
}
.scrollup:hover {
  background-color: var(--first-color-alt);
}
.scrollup__icon {
  font-size: 2.5rem;
  color: #fff;
}
/* Show scroll */
.show-scroll {
  bottom: 8rem;
}
/*========== SCROLL BAR ==========*/
::-webkit-scrollbar {
  width: 0.5rem;
  background-color: var(--scroll-bar-color);
  border-radius: 0.8rem;
}
::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 0.8rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-thumb-color-hover);
}
/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width: 350px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
  .nav__menu {
    padding: 3.2rem 0.4rem 6.4rem;
  }
  .nav__list {
    column-gap: 0;
  }

  .home__content {
    grid-template-columns: 0.25fr 3fr;
  }

  .qualification__data {
    gap: 0.5rem;
  }
}
/* For medium devices */
@media screen and (min-width: 568px) {
  .home__content {
    grid-template-columns: max-content 1fr 1fr;
  }
  .home__data {
    grid-column: initial;
  }
  .home__img__container {
    order: 1;
    justify-self: center;
  }

  .contact__container,
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .qualification__sections {
    display: grid;
    grid-template-columns: 0.6fr;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  body {
    margin: 0;
  }
  .section {
    margin: 6rem 0 3.2rem;
  }
  .section__subtitle {
    margin-bottom: 6.4rem;
  }

  .header {
    top: 0;
    bottom: initial;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .header,
  .main,
  .footer__container {
    padding: 0 1.6rem;
  }

  .nav {
    height: calc(var(--header-height)+6rem);
    column-gap: 1.6rem;
  }
  .nav__icon,
  .nav__close,
  .nav__toggle {
    display: none;
  }
  .nav__list {
    display: flex;
    column-gap: 3.2rem;
  }
  .nav__menu {
    margin-left: auto;
  }
  .change-theme {
    margin: 0;
  }

  .home__container {
    row-gap: 8rem;
  }
  .home__content {
    padding-top: 8.8rem;
    column-gap: 3.2rem;
  }
  .home__scroll {
    display: block;
  }
  .home__scroll-button {
    margin-left: 4.8rem;
  }

  .qualification__tabs {
    justify-content: center;
  }
  .qualification__button {
    margin: 0 var(--mb-1);
  }
  .qualification__sections {
    grid-template-columns: 0.5fr;
  }

  .footer__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer__bg {
    padding: 4rem 0 4.8rem;
  }
  .footer__links {
    flex-direction: row;
    column-gap: 2.5rem;
  }
  .footer__socials {
    justify-self: center;
  }
  .footer__social:last-child {
    margin-right: 0;
  }
  .footer__copy {
    margin-top: 7.2rem;
  }
}
/* For large devices */

@media screen and (min-width: 1024px) {
  .header,
  .main,
  .footer__container {
    padding: 0;
  }

  .home__social {
    transform: translateX(-7rem);
  }

  .slider__btn {
    font-size: 3.5rem;
  }

  .contact__form {
    width: 500px;
  }
  .contact__inputs {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 65%;
  }

  .container {
    max-width: 1024px;
  }
}
