.login__ui {
  display: flex;
  justify-content: center;
  /* width: 80vw; */
  /* height: 80vh; */
  /* padding: 4rem; */
}

.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: clamp(60rem, 80%, 90%);
  max-width: 60rem;
}
