.grid {
  display: grid;
  gap: 2.5rem;
}

.container {
  margin: 0 1rem;
  max-width: 900px;
}

@media screen and (min-width: 768px) {
  .container {
    margin: 0 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1080px;
  }
}

/* @media screen and (max-width: 350px) {}
@media screen and (max-width: 568px){}
@media screen and (max-width: 769px) {

}
@media screen and (max-width: 1024px){}
@media screen and (max-width: 1200px){} */
