/*========== SCROLL UP ==========*/
.scrollup {
  position: fixed;
  right: 1.6rem;
  bottom: -20%;
  background-color: var(--first-color);
  opacity: 0.8;
  padding: 0 0.5rem;
  border-radius: 0.6rem;
  z-index: var(--z-tooltip);
  transition: 0.4s;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
}
.scrollup:hover {
  background-color: var(--first-color-alt);
}
.scrollup__icon {
  font-size: 2.5rem;
  color: #fff;
}
/* Show scroll */
.show-scroll {
  bottom: 8rem;
}
