/*==================== REUSABLE CSS CLASSES ====================*/
.section {
  padding: 5rem 0 3rem;
}

.section__title {
  font-size: var(--h1-font-size);
  background: var(--background-color);
  background-repeat: no-repeat;
  background-size: 70% 5px;
  background-position: 50% 100%;
  border-radius: 5px;
  max-width: fit-content;
  margin: 0 auto;
  text-transform: uppercase;
}
.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin: var(--mb-0-25) 0 var(--mb-1) 0;
  text-transform: capitalize;
}
.section__title,
.section__subtitle {
  text-align: center;
}
.section__icon {
  margin-right: var(--mb-0-75);
  color: var(--first-color-alt);
}
