/*==================== spinner + Animation ====================*/

.spinner__container {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 1000;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner__on {
  border: 2px solid var(--first-color);
  border-radius: 50%;
  border-top: 10px solid var(--first-color);
  width: 10rem;
  height: 10rem;
  -webkit-animation: spin 1.5s linear infinite; /* Safari */
  animation: spin 1.5s linear infinite;
}
.spinner__off {
  visibility: hidden;
  display: none;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
