.notfound__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 36vh;
}
.notfound h1 {
  margin-bottom: 2rem;
  color: rgb(248, 220, 4);
  text-transform: capitalize;
  font-size: var(--big-font-size);
}

.notfound p {
  margin-bottom: 4rem;
}
