.button-primary {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  padding: 1rem;
  text-transform: uppercase;
  background-image: linear-gradient(
    120deg,
    rgb(29, 181, 236) 5%,
    rgb(58, 231, 179) 85%
  );
  background-repeat: no-repeat;
  background-position: 0px 100%;
  border-radius: 5px;
  outline: transparent solid 2px;
  outline-offset: 2px;
  cursor: pointer;
}
