.button-submit {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: var(--title-color);
  font-size: 1.8rem;
  font-weight: var(--font-semi-bold);
  padding: 1rem;
  text-transform: uppercase;
  background-image: linear-gradient(
    120deg,
    var(--first-color) 5%,
    var(--first-color-alt) 85%
  );
  background-repeat: no-repeat;
  background-size: 100% 3px;
  background-position: 0px 100%;
  border-radius: 10px;
  transition: 0.2s;
  cursor: pointer;
  width: clamp(15rem, 20%, 15rem);
}
.button-submit:hover,
.button-submit:focus {
  transform: scale(1.1);
  background-size: 100% 20%;
}

.button__icon {
  transition: 0.5s;
  margin-left: 1rem;
}
.button-submit:hover .button__icon {
  transform: translateX(10px);
}
