/*========== SCROLL UP ==========*/
.scrollup {
  position: fixed;
  right: 5%;
  bottom: 10%;
  background-color: var(--first-color);
  cursor: pointer;
  padding: 0 0.5rem;
  border-radius: 10px;
  z-index: var(--z-tooltip);
  box-shadow: 0 4px 5px rgb(0 0 0 / 50%);
}
.scrollup:hover {
  background-color: var(--first-color-alt);
}
.scrollup__icon {
  font-size: 2.5rem;
  color: #fff;
}
/* Show scroll */
.show-scroll {
  bottom: 8rem;
}

@media screen and (max-width: 767px) {
  .scrollup__icon {
    font-size: 2rem;
  }
}
