/*==================== REUSABLE CSS CLASSES ====================*/
.section {
  padding: 10rem 0 3rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.section__title {
  font-size: var(--h1-font-size);
  background: var(--text-gradient-color);
  background-repeat: no-repeat;
  background-size: 70% 5px;
  background-position: 50% 100%;
  border-radius: 5px;
  max-width: fit-content;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.8;
}
.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin: 0.25rem 0 3rem 0;
  text-transform: capitalize;
}
.section__title,
.section__subtitle {
  text-align: center;
}
.section__icon {
  margin-right: 0.75rem;
  color: var(--first-color-alt);
}

@media screen and (max-width: 767px) {
  .section {
    padding: 5rem 0 3rem;
  }
}
