.styled__title {
  font-size: 2rem;
  margin-bottom: 2rem;
  background: var(--text-gradient-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  text-transform: capitalize;
}
