.styles__paragraph {
  position: relative;
  margin: 0 0 2rem 1.5rem;
}
.styles__paragraph::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 100%;
  left: -1.5rem;
  bottom: 0;
  background: var(--text-gradient-color);
  border-radius: 0 5px 5px 0;
}
