.contact__information {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.contact__icon {
  font-size: 3.2rem;
  color: var(--first-color);
  margin-right: 0.75rem;
}

.contact__title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}
