.project__box {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 2rem;
  margin: 4rem 0;
  box-shadow: var(--box-shadow-2);
  border-radius: 10px;
  background-position: right;
  background-color: #0407368d;
  color: var(--text-color);
}
.project__box:hover,
.project__box:focus {
  box-shadow: inset rgb(68 255 230) 0px 0px 0px 1px,
    inset rgb(0 255 179) 0 0 0px 2px;
}

/* .project__box:hover .project__img img,
.project__box:focus .project__img img {
  transform: scale(1.02);
} */

.project__data {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.project__img {
  max-width: fit-content;
  /* width: 100%; */
  margin-bottom: 2rem;
}
.project__img img {
  border-radius: 5px;
  transform: skewY(356deg);
  box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 52%) 4px 4px 10px;
}

.project__data h3 {
  margin-bottom: 2rem;
}

.project__languages {
  margin-bottom: 1rem;
  display: flex;
  flex-flow: row wrap;
}
.project__language {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  border-radius: 5px;
  margin: 1rem;
  border-radius: 10px;
  padding: 0.5rem;
  color: var(--first-color-alt);
  background-color: var(--first-color-alt-light);
  font-weight: 600;
  cursor: pointer;
}
.project__language:hover,
.project__language:focus {
  transform: scale(1.1);
}
.project__language img {
  width: 2rem;
  border-radius: 5px;
  margin-right: 0.5rem;
}
.project__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 769px) {
  .project__box {
    flex-direction: row;
  }

  .project__img {
    margin: 0 2rem 0 0;
  }
}
