* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background: var(--second-color);
  background-image: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--first-color-alt);
}
img {
  max-width: 100%;
  height: auto;
}

b {
  color: var(--first-color-alt);
}

*:focus-visible {
  outline: 2px dashed var(--first-color);
  outline-offset: 3px;
}

*:focus:not(:focus-visible) {
  outline: none;
}

input:focus,
textarea:focus {
  outline: none;
}

@media screen and (max-width: 767px) {
  body {
    margin: 0 0 var(--header-height) 0;
  }
}
