.home {
  background-position: right top;
  background-repeat: no-repeat;
  padding: 0rem;
}

.home__content {
  display: grid;
  grid-template-columns: 0.2fr 1.8fr 1fr;
  grid-template-rows: 2.5fr 0.2fr;
  gap: 50px 20px;
  grid-template-areas:
    "home__social home__data home__img__container"
    ". home__scroll . ";
  margin-top: 2rem;
}
.home__social {
  grid-area: home__social;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 2rem;
}
.home__data {
  grid-area: home__data;
}

.home__img__container {
  grid-area: home__img__container;
  max-width: 30rem;
  position: relative;
}

.home__img__container-img {
  /* position: absolute; */
  border-radius: 10px;
  z-index: var(--z-tooltip);
  box-shadow: var(--first-color) 2px 2px 0px, var(--first-color-alt) 4px 4px 0px;
}

.home__img-back {
  position: absolute;
  right: 0%;
  top: 25%;
  z-index: -1;
}

.home__title {
  display: block;
  font-size: var(--fs-5xl);
  font-family: var(--font-2);
  line-height: 1;
  letter-spacing: 10px;
  margin-bottom: 0.5rem;
  background: var(--text-gradient-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* -webkit-text-stroke: 1px #6bdcb4; */
  /* color: transparent; */
}

.home__description {
  margin-bottom: 2rem;
  background-color: rgb(29 181 236 / 4%);
  border-radius: 20px;
  backdrop-filter: blur(30px);
  padding: 2rem;
}
.home__scroll {
  grid-area: home__scroll;
}
.home__scroll-button {
  color: var(--first-color);
  transition: 0.3s;
}
.home__scroll-button:hover {
  transform: translateY(0.4rem);
}
.home__scroll-mouse {
  font-size: var(--fs-xl);
}
.home__scroll-name {
  font-size: var(--fs-m);
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-right: 0.25rem;
}
.home__scroll-arrow {
  font-size: var(--fs-l);
}
.home__buttons {
  display: flex;
  gap: 2rem;
}

@media screen and (max-width: 769px) {
  .home__content {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: 1.2fr 0.9fr 0.1fr 0.1fr;
    gap: 10px 0;
    grid-template-areas:
      "home__data"
      "home__img__container"
      "home__social"
      "home__scroll ";
  }
  .home__content {
    padding-top: 0;
  }
  .home__social {
    flex-direction: row;
    align-items: flex-start;
  }

  .home__img__container {
    max-width: 25rem;
    align-self: center;
    justify-self: center;
  }

  .home__img__container {
    max-width: 28rem;
  }
  .home__img__container-dots {
    display: none;
  }
}
